<div class="fbs_happenings">
	<ul class="nav nav-tabs" role="tablist">
		{{#each sections}}
			<li{{#if active}} class="active"{{/if}} data-sem="{{sem}}"><a href="{{link}}" data-bypass>{{text}}</a></li>
		{{/each}}
		{{!--
		{{#if sections_old}}

			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					Eldre <span class="caret"></span>
				</a>
				<ul class="dropdown-menu" role="menu">
					{{#each sections_old}}
						<li{{#if active}} class="active"{{/if}}><a href="{{link}}" data-sem="{{sem}}" data-bypass>{{text}}</a></li>
					{{/each}}
				</ul>
			</li>
		{{/if}}
		--}}
	</ul>
	<div class="arrplan_content"><p>Laster data...</p></div>

	<h2>Gjøre endringer på arrangementplanen</h2>
	<p>Oppdages det feil eller manglende arrangementer kan oversikten endres i wikien:<br />
		<a href="https://foreningenbs.no/wiki/Arrangementplan_til_nettsiden">
		https://foreningenbs.no/wiki/Arrangementplan_til_nettsiden</a></p>
	<p>Alle beboere skal ha tilgang til wikien med sin <a href="/intern/login">foreningsbruker</a>.</p>

	<h2>Google Calendar, kalender på mobil, o.l.</h2>
	<p>Du kan få kalenderen automatisk inn i Google Calender eller en annen kalender du måtte ha. For dette trenger du å legge inn denne adressen i kalenderen din:<br />
		<a href="/intern/arrplan.ics">https://foreningenbs.no/intern/arrplan.ics</a> <i>(kopier lenken, ikke last ned)</i>
	</p>
	<p>Slik gjør du det for Google Calendar:</p>
	<p style="text-align: center">
		<img src="/intern/assets/images/arrplan/googlecal.png" class="img-responsive img-thumbnail" alt="Eksempel med Google Calendar" />
	</p>
</div>