{{#with data}}
	<dl>
		<dt>Til faktuering</dt>
		<dd>kr {{formatNum amount_real}}</dd>
		<dt>Antall utskriftsjobber</dt>
		<dd>{{formatNum num_jobs 0}}</dd>
		<dt>Antall sider</dt>
		<dd>{{formatNum num_pages 0}} ({{formatNum num_pages_real 0}} faktureres, {{formatNum num_pages_alt 0}} ikke)</dd>
	</dl>
	<div class="row">
		{{#each sections}}
			<div class="printergroup col-md-6">
				{{#if is_beboer}}
					<h2>Fakturering enkeltbeboere</h2>
					{{#each printergroups}}
						{{#if comment}}
							<p>{{comment}}</p>
						{{/if}}
					{{/each}}
				{{else}}
					<h2>Fakturering grupper</h2>
				{{/if}}

				<table class="table table-striped table-condensed" style="width: auto">
					<thead>
						<tr>
							<th>Navn</th>
							<th>Per side</th>
							<th>Sider</th>
							<th>Å betale</th>
							{{#unless is_beboer}}
							<th>Kommentar</th>
							{{/unless}}
						</tr>
					</thead>
					<tfoot>
						<tr style="font-style: italic; font-weight: bold">
							<td>Sum ({{occurrences}} stk)</td>
							<td style="text-align: right">&nbsp;</td>
							<td style="text-align: right">{{formatNum totals.num_pages 0}}</td>
							<td style="text-align: right">{{formatNum totals.amount_real}}</td>
						</tr>
					</tfoot>
					<tbody>
						{{#each printergroups}}
							{{#if ../is_beboer}}
								{{#each users}}
									<tr>
										<td>
											{{realname}}
											{{#if utflyttet}}
												<b>Utflyttet?</b>
											{{/if}}
										</td>
										<td style="text-align: right">
											{{#each costlist}}
												{{formatNum @key}}<br />
											{{/each}}
										</td>
										<td style="text-align: right">
											{{#each costlist}}
												{{formatNum this 0}}<br />
											{{/each}}
										</td>
										<td style="text-align: right">{{formatNum amount_real}}</td>
									</tr>
									{{#unless is_beboer}}
										<td>&nbsp;</td>
									{{/unless}}
								{{/each}}
							{{else}}
								<tr>
									<td>{{printername}}</td>
									<td style="text-align: right">
										{{#each costlist}}
											{{formatNum @key}}<br />
										{{/each}}
									</td>
									<td style="text-align: right">
										{{#each costlist}}
											{{formatNum this 0}}<br />
										{{/each}}
									</td>
									<td style="text-align: right">{{formatNum amount_real}}</td>
									<td>
										{{#if is_comment_or_alt}}
											{{comment}}<br />
											{{#if amount_alt}}(ikke fakturert: kr {{formatNum amount_alt}}){{/if}}
										{{else}}
										&nbsp;
										{{/if}}
									</td>
								</tr>
							{{/if}}
						{{/each}}
					</tbody>
				</table>
			</div>
		{{/each}}
	</div>
{{/with}}