{{#with data}}
	<div class="printergroup col-md-6">
		{{#if is_beboer}}
			<h2>Fakturering enkeltbeboere</h2>
		{{else}}
			<h2>Fakturering grupper</h2>
		{{/if}}

		<table class="table table-striped table-condensed" style="width: auto">
			<thead>
				<tr>
					<th>Navn</th>
					<th>Per side</th>
					<th>Sider</th>
					<th>Å betale</th>
					{{#unless is_beboer}}
					<th>Kommentar</th>
					{{/unless}}
				</tr>
			</thead>
			<tbody>
				{{#each printergroups}}
					{{#if ../is_beboer}}
						{{#each users}}
							<tr>
								<td>
									{{realname}}
									{{#if utflyttet}}
										<b>Utflyttet?</b>
									{{/if}}
								</td>
								<td style="text-align: right">
									{{#each costlist}}
										{{formatNum @key}}<br />
									{{/each}}
								</td>
								<td style="text-align: right">
									{{#each costlist}}
										{{this}}<br />
									{{/each}}
								</td>
								<td style="text-align: right">{{formatNum amount}}</td>
							</tr>
						{{/each}}
					{{else}}
						<tr>
							<td>{{printername}}</td>
							<td style="text-align: right">
								{{#each costlist}}
									{{formatNum @key}}<br />
								{{/each}}
							</td>
							<td style="text-align: right">
								{{#each costlist}}
									{{this}}<br />
								{{/each}}
							</td>
							<td style="text-align: right">{{formatNum amount}}</td>
							<td>
								{{#if is_comment}}
									{{ comment }}<br />
									{{#if sum_cash_alt}}(ikke fakturert: kr {{formatNum sum_cash_alt}}){{/if}}
								{{else}}
								&nbsp;
								{{/if}}
							</td>
						</tr>
					{{/if}}
				{{/each}}
			</tbody>
		</table>

		<p>Totalt <b>kr {{formatNum sum_cash}}</b></p>
		{{!--
		{{#if alt_cash }}
			<p>(Ikke fakturert: kr {{formatNum sum_cash_alt}})</p>
		{{/if}}--}}
	</div>
{{/with}}