<dl>
	<dt>Gruppenavn</dt>
	<dd>{{name}}</dd>
	<dt>GruppeID</dt>
	<dd>{{id}}</dd>
	<dt>Beskrivelse</dt>
	<dd>{{description}}</dd>
</dl>

<h2>Medlemmer</h2>
{{#if members}}
	<table class="table table-striped table-condensed" style="width: auto">
		<thead>
			<tr>
				<th>Bruker</th>
				<th>Navn</th>
			</tr>
		</thead>
		<tbody>
			{{#each members}}
				<tr>
					<td><a href="/intern/user/{{username}}">{{username}}</a></td>
					<td>{{realname}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
{{else}}
	Ingen medlemmer i gruppa
{{/if}}