<dl>
	<dt>Gruppenavn</dt>
	<dd>{{name}}</dd>
	<dt>GruppeID</dt>
	<dd>{{id}}</dd>
	<dt>Beskrivelse</dt>
	<dd>{{description}}</dd>
	<dt>Medlemmer</dt>
	<dd>
		{{#if members}}
			<ul>
				{{#each members}}
					<li>{{realname}} (<a href="/intern/user/{{username}}">{{username}}</a>)</li>
				{{/each}}
			</ul>
		{{else}}
			Ingen medlemmer i gruppa
		{{/if}}
	</dd>
</dl>