<table class="table table-striped nowrap">
<thead>
	<tr>
		<th>Tid</th>
		<th>Bruker</th>
		<th>Navn</th>
		<th>Printer</th>
		<th style="text-align: right">Antall sider</th>
	</tr>
</thead>
<tbody>
	{{#each prints}}
		<tr>
			<td>{{formatDate jobdate 'dddd D. MMMM YYYY'}}</td>
			<td>{{username}}</td>
			<td>{{realname}}</td>
			<td>{{printername}}</td>
			<td style="text-align: right">{{jobsize}}</td>
		</tr>
	{{/each}}
	</tbody>
</table>